@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="max-width: 400px; width:100%;">
        <h4 class="text-center mb-3">App Academia</h4>

        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger">@ViewBag.Erro</div>
        }

        @if (TempData["Mensagem"] != null)
        {
            <div class="alert alert-info">
                @TempData["Mensagem"]
            </div>
        }


        <form method="post">
            <div class="mb-3">
                <label>E-mail</label>
                <input type="email" name="email" class="form-control" required />
            </div>

            <div class="mb-3">
                <label>Senha</label>
                <input type="password" name="senha" class="form-control" required />
            </div>

            <button class="btn btn-success w-100">Entrar</button>
        </form>
    </div>
</div>